{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <form action="" method="post"  novalidate class="form-control m-3 p-4 w-75">

            {{ form.hidden_tag() }}

            {{ form.date.label }}<br>
            {{ form.date(class_="form-control", size=32) }}<br>

            {% for error in form.date.errors %}
                <p class="alert alert-warning">{{ error }}</p>
            {% endfor %}

            {{ form.count.label }}<br>
            {{ form.count(class_="form-control", size=8) }}<br>

            {% for error in form.count.errors %}
                <p class="alert alert-warning">{{ error }}</p>
            {% endfor %}

            {{ form.price.label }}<br>
            {{ form.price(class_="form-control", size=8) }}<br>

            {% for error in form.price.errors %}
                <p class="alert alert-warning">{{ error }}</p>
            {% endfor %}

            {{ form.item.label }}<br>
            {{ form.item(class_="form-control", size=4) }}<br>

            {% for error in form.item.errors %}
                <p class="alert alert-warning">{{ error }}</p>
            {% endfor %}

            {{ form.provider.label }}<br>
            {{ form.provider(class_="form-control", size=4) }}<br>

            {% for error in form.provider.errors %}
                <p class="alert alert-warning">{{ error }}</p>
            {% endfor %}

            {{ form.catalog.label }}<br>
            {{ form.catalog(class_="form-control", size=8) }}<br>

            {% for error in form.catalog.errors %}
                <p class="alert alert-warning">{{ error }}</p>
            {% endfor %}

            <div class="col-4 justify-content-end text-end align-bottom">
                {{ form.submit(class_="btn btn-lg btn-primary mt-4") }}
            </div>

        </form>
    </div>
 {% endblock %}