{% extends "tables/view/table.html" %}

{% block data %}

    <div class="row">
        {% if data %}
            {% for item in data %}
                <div class="col-4">
                    <div class="p-4 alert alert-primary">


                        <div class="row">
                            <div class="col-10">
                                <p>Count : {{ item.count }}</p>
                                <p>Sum : {{ item.sum }}$</p>
                            </div>
                            <div class="col-2 justify-content-end">
                                <a href="{{ url_for('tables.supplies_table_delete', id=item.id) }}">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </a>
                            </div>
                        </div>

                        <div class="alert alert-light">
                            <p><b>Provider</b></p>
                            <p>{{ item.provider.address }}</p>
                            <p>{{ item.provider.phone_number }}</p>
                        </div>

                        <div class="alert alert-light">
                            <h3><b>Item</b></h3>
                            <p>Name : {{ item.item.name }}</p>
                            <p>Price : {{ item.item.price }}$</p>
                        </div>

                        <p class="justify-content-end text-end"><b>{{ item.date.strftime('%Y-%m-%d') }}</b></p>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-4">
                    <div class="p-4 alert alert-primary">
                        <h3><b>Table is empty</b></h3>
                    </div>
                </div>
        {% endif %}
    </div>

{% endblock %}

{% block add_link %}
    {{ url_for('tables.supplies_table_add') }}
{% endblock %}